*{
  font-family: 'Roboto', sans-serif;
}

#Landing{
	background-image: url("./Image/background.webp");
	height: 100vh;
	width: auto;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.container-fluid .content {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
}

#project img{
  width: 100%;
  height: auto;
}

u{
  text-decoration: underline red !important;
}

#contact{
  background-image: url("./Image/contact.jpg");
  width: auto;
  height: 75vh;
}

#project{
background-image: url("./Image/bground.jpg");
}

#tools{
  background-image: url("./Image/tools.jpg");
}